body {
        width:100%;
        height:992px;
    font-family: 'Montserrat', sans-serif;
}

text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffe100;
    font-weight: bold;
    pointer-events: none;
}

#chart {
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    top: 0;
    left: 0;
    margin-left: 203px;
    margin-top: 60px;
}

#question {
    position: absolute;
    width: 225px;
    height: 200px;
    top: 100px;
    left: 192px;
}

    #question h1 {
        font-size: 17px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }

.img {
    width: 723px;
    margin-left: -7.5%;
    transform: rotate(88deg);
}

.bloco_email {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.description_rollet {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .description_rollet p {
        color: white;
        text-align: center;
    }

.input_field {
    width: 340px;
    height: 46px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn_roleta {
    background: linear-gradient(0.25turn, #27B9EA, #a2ebef, #27B9EA);
    color: #212E3F;
    padding: 20px 40px;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 2em #79E5EB, 0 0 2em #79E5EB;
: 
}

.img_arrow {
    transform: rotate(90deg);
    width: 65px;
    margin-left: 86%;
    margin-top: -110%;
}

label {
    color: white;
    font-weight: bold;
}

.aposte {
    font-size: 33px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5%
}

.empresa {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffaa00, 0 0 30px #ffaa00, 0 0 40px #ffaa00, 0 0 55px #ffaa00, 0 0 75px #ffaa00;
}

.site_wdl {
    color: #fff;
    text-decoration: none;
    float: right;
}

.dice {
    width: 30%;
    margin-left: -6%;
}

.arrow_neon {
    background-image: url('../../img/arrow-neon.png');
}

.cloud {
    width: 20%;
    padding-top: 7%;
    align-self: flex-start;
}

.like {
    width: 20%;
    margin-left: 5%
}

.como_funciona {
    background-color: #1f699e;
    margin-top: -4.7%;
    z-index: -1;
    color: #ffffff;
    display: flex;
    height: 610px;
}

.img_wdl {
    width: 100%;
}

.container {
    display: flex;
}

.just_content_start {
    justify-content: flex-start
}

.just_content_end {
    justify-content: flex-end
}

.bloco_2 {
    margin-top: 10%;
    margin-left: 0%;
}

.arrow_left {
    width: 12%;
    height: 10%;
    margin-left: -5%;
    margin-top: -5%;
    margin-right: 13%;
}

.arrow_right {
    width: 12%;
    height: 10%;
    transform: rotate(42deg);
    margin-top: -10%;
    margin-left: 9%;
}

.foguete {
    width: 10%;
    margin-top: -103%;
}

.menu {
    align-items: baseline;
    text-align: center;
    background: #860718;
    padding: 20px 0;
}

.link_site {
    color: #fff;
    cursor: pointer;
}

.link_site:hover {
    text-decoration: none;
    color: #fff;
}

.cloud_bloco1 {
    justify-content: center;
    align-items: flex-end;
    DISPLAY: flex;
}
.cloud_white{
    width:70%;
    height:20%
}
.premio {
    margin: 100px 0;
}
@media only screen and (max-width: 400px) {
    .img {
        width: 420px;
        margin-left: -17%;
    }

    #chart {
        margin-left: 36px;
        margin-top: 27px;
        width: auto;
        height: auto;
    }
}



@media only screen and (max-width: 736px) {
    .cloud {
        display: none;
    }

    .description_rollet {
        display: inline;
    }

    .foguete {
        display: none;
    }

    .cloud_white {
        display: none;
    }

    .como_funciona {
        height: 100%;
    }

    .container {
        margin-top: 25px;
    }

    .img {
        width: 300px;
        /*margin-left: -17%;*/
        
    }

    #chart {
        margin-left: 36px;
        margin-top: 27px;
        width: auto;
        height: auto;
    }

    .img_arrow {
        width: 34px;
        margin-left: 84%;
        margin-top: -124%;
    }

    #question {
        position: absolute;
        width: 225px;
        height: 200px;
        top: 75px;
        left: 102px;
    }

    .bloco_2 {
        margin-top: 10%;
    }
}

@media only screen and (min-width:1066px) {
    .img_arrow {
        transform: rotate(90deg);
        width: 65px;
        margin-left: 86%;
        margin-top: -112%;
    }
    .foguete {
        width: 10%;
        margin-top: -85%;
    }
    .img {
        margin-left: -6.5%;
    }
}

@media only screen and (min-width:1600px) {
    .img {
        margin-left: -5.2%;
    }
    .img_arrow {
        margin-left: 60%;
        margin-top: -77%;
    }
    .foguete {
        margin-top: -68%;
    }
    .cloud_white {
        height: 30%
    }
    #question {
        position: absolute;
        width: 225px;
        height: 201px;
        top: 165px;
        left: 331px;
    }
}
